:root {
	--background-color: white;
	--text-color: black;
	--primary-button: green;
	--secondary-button: rgb(0, 108, 0);
	--accent: magenta;
	/*Adding some variables in for me - cam */
	--clr-primary: #304ffe;
	--clr-primary-hover: #29e6a7;
	--clr-primary-dark: #039d69;
	--clr-gray100: #f0f7f8;
	--clr--gray200: #cfd8dc;
	--clr--gray400: #6b7e86;
	--clr--red100: rgb(255, 17, 0);

	/*border raiuds-cam*/
	--radius: 0.2rem;
}

header,
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 2px solid black;
}

.main-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(300px, auto); /* Dan's code Set new rows to either 300px height if possible, or else to fit content */
	grid-auto-flow: dense; /* Unused space? Fill it with 1x1 articles */
	/*cams code below for grid*/
	grid-gap: 1.5rem;
	justify-content: center;
}
.main-grid .grid-2x1 {
	grid-column-end: span 2;
}
.main-grid .grid-1x2 {
	grid-row-end: span 2;
}
.grid-item-1 {
	display: grid;
	overflow: hidden;
	grid-row: span 1;
	border: 1px solid var(--clr--gray200);
	box-shadow: 4px 4px var(--clr--gray200);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: border 200ms ease-in, box-shadow 200ms ease-in;
	&:hover {
		border: 1px solid var(--clr-primary);
		box-shadow: 8px 8px var(--clr--red100);
	}
}
.grid-item-5 {
	display: grid;
	overflow: hidden;
	grid-row: span 1;
	border: 1px solid var(--clr--gray200);
	box-shadow: 4px 4px var(--clr--gray200);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: border 200ms ease-in, box-shadow 200ms ease-in;
	&:hover {
		border: 1px solid var(--clr-primary);
		box-shadow: 8px 8px var(--clr--red100);
	}
}
.grid-item-3 {
	display: grid;
	overflow: hidden;
	
	grid-row: span 1;
	border: 1px solid var(--clr--gray200);
	box-shadow: 4px 4px var(--clr--gray200);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: border 200ms ease-in, box-shadow 200ms ease-in;
	&:hover {
		border: 1px solid var(--clr-primary);
		box-shadow: 8px 8px var(--clr--red100);
	}
}
.grid-item-2 {
	display: grid;
	overflow: hidden;
	grid-column: 1;
	grid-row: span 1;
	border: 1px solid var(--clr--gray200);
	box-shadow: 4px 4px var(--clr--gray200);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: border 200ms ease-in, box-shadow 200ms ease-in;
	&:hover {
		border: 1px solid var(--clr-primary);
		box-shadow: 8px 8px var(--clr--red100);
	}
}
/*down below is what i used for the arrow animation*/
.grid-item-1 a {
	padding: 1rem;
	font-weight: bold;
	color: var(--clr-primary);

	&::after {
		content: '\f061';
		font-family: 'Font Awesome 5 free';
		font-weight: 900;
		position: relative;
		left: 0.5rem;
	}
}
.card-link {
	&:hover::after {
		animation: arrow 1s ease-in-out infinite alternate;
	}
}
@keyframes arrow {
	0% {
		left: 0.5rem;
	}
	100% {
		left: 1.5rem;
	}
}

.card-image {
	height: 12rem;
	width: 100%;
	object-fit: cover;
}
.card-title {
	padding: 1rem;
	text-align: center;
}
.card-description {
	padding: 0 1rem;
}

.card {
	/*work in progress will come back to it later check gpt histoy*/
	display: flex;
	flex-wrap: wrap;
}

.card a {
	color: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex: 1;
	padding: 0.5rem 1rem;
}
.zero {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: rgba(169 161 161 / 56%);
}
.arts {
	text-align: center;
}
.footer-left {
	display: flex;
	flex-wrap: wrap;
}
.svg-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background-color: rgba(169 161 161 / 56%);
}
.svg-group svg:not(:last-child) {
	margin-right: 5px;
	margin-left: 5px; /* Adjust the value to control the spacing */
}
.svg-group .icon1 {
	fill: rgb(0, 92, 212);
	stroke: rgb(214, 214, 255);
}

.svg-group .icon2 {
	fill: rgb(13, 117, 253);
	stroke: rgb(214, 214, 255);
}
.svg-group .icon3 {
	fill: rgb(129, 5, 231);
	stroke: rgb(255, 128, 8);
}
.svg-group .icon4 {
	fill: rgb(182, 16, 5);
	stroke: rgb(214, 214, 255);
}

/*only way to get ride of text decoration? tried doing it the normal way but it didnt work*/
a:link {
	text-decoration: none !important;
}

@media (min-width: 20em) {
	.main-grid  {
		grid-template-columns: repeat(1, 4fr);
	}
	.card {
		align-items: center;
		justify-content: center;
	}
	.grid-item-1  {
		grid-column: 1;
	}
	.grid-item-2  {
		grid-column: 1;
	}
		.grid-item-3  {
		grid-column: 1;
	}
		.grid-item-4  {
		grid-column: 1;
	}
		.grid-item-5  {
		grid-column: 1;
	}
}
/*making b bold size bigger*/
b {
	font-size: 18px;
}

@media (min-width: 40em) {
	.main-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.card {
		align-items: center;
		/* justify-content: center; */
		display: flex;
		flex-flow: row-reverse;
	}
	.grid-item-1  {
		grid-column: 1;
	}
	.grid-item-2  {
		grid-column: 2;
	}
		.grid-item-3  {
		grid-column: 3;
	}
		.grid-item-4  {
		grid-column: 3;
	}
		.grid-item-5  {
		grid-column: 2;
	}
}

@media (min-width: 60em) {
	.main-grid {
		grid-template-columns: repeat(4, 1fr);
	}

	.card a {
		align-items: center;
		justify-content: center;
	}
}

@media (min-width: 80em) {
	.main-grid {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (min-width: 100em) {
	.main-grid {
		grid-template-columns: repeat(6, 1fr);
	}
}
